@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

.App {
  height: 500px;
  width: 400px;
  background-color: #181818;
	color: #d8d8d8;
  border-radius: 7px;
}

.clipboard {
  border-radius: 5px;
  /* background-image: linear-gradient(to right, #181818, #eee, #181818), linear-gradient(to bottom, #181818, #eee, #181818), linear-gradient(to left, #181818, #eee, #181818), linear-gradient(to top, #181818, #eee, #181818);
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.title {
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
	line-height: 1em;
	color: #f2f2f2;
  margin: 16px;
  margin-bottom: 0;
  text-align: center;
}
.title::before {
	content: '─';
	margin-right: 0.6em;
	color: #686868;
}
.title::after {
	content: '─';
	margin-left: 0.6em;
	color: #686868;
}

.text-input {
  background-color: transparent;
  color: #d8d8d8;
  width: 100%;
  border: 2px solid #555;
  font-family: Lato, sans-serif;
  margin: 16px;
  margin-right: 0;
}

.icon {
  padding: 8px;
  margin: 16px;
  margin-left: 0;
  cursor: pointer;
  border-radius: 4px;
}
.icon:hover {
  background-color: #555;
}
.icon:active {
  background-color: #686868;
  animation: press 0.2s 1 linear;
}

.cliplist {
  margin: 16px;
  flex: 1;
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cliplist-item {
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
  justify-content: space-between;
}
.cliplist-item:hover {
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.cliplist-item:active {
  background-color: #686868;
  animation: press 0.2s 1 linear;
}
.cliplist-item > div {
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

#scrollbar2::-webkit-scrollbar {
  width: 0;
}